
header {
  background-color: #000!important;
  bottom: -100px;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: blue!important;
  background-image: url("../images/hazelands.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
  z-index: auto; 
}
hr {
        height: 1px;
        background-color: blue;
        border: none;
}
#content-text {display:inline-block; width:45%; padding:10px}
#context-text-div {display:inline-block; width:45%; padding-left:1000px;}
.flex-container {
    display: flex;
    background-color: rgb(54, 63, 73);
    margin-inline-start: 200px;
  }
.flex-container > div {
    background-color: #000000;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
.one_fourth { 
	width: 150px; 
}
#content-text{  
  width:50%;
}
#content-text-div{
  width: 100%;
}
#content{width: 1400px;}

.col { 
	float: left; 
	margin: 10px 20px 20px 0; 
}
.no_margin_right { 
	margin-right: 0;
}
.fp_post h2 { font-size: 18px; margin-bottom: 5px }
.fp_post h2 a { color: #333 }
.fp_post img { margin-bottom: -20px }
.fp_post p { font-size: 11px }

.flex-wrapper{
  
  display: flex;
  font-size: 60px;
  background-color: #837d75;
  color: wheat;
  font-weight: bold;
  margin-bottom: -500px;
  margin-right: 350px;
  margin-left: 350px;
  padding: -250px;
}

.flex-wrapper > left-section {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

}
.flex-wrapper > right-section {
  
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;

}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}
/***** Footer *****/

.footer-top { padding: 60px 0; background: #333; text-align: left; color: #aaa; }
.footer-top h3 { padding-bottom: 10px; color: #fff; }

.footer-about img.logo-footer { max-width: 74px; margin-top: 0; margin-bottom: 18px; }
.footer-about p a { border: 0; }
.footer-about p a:hover, .footer-about p a:focus { border: 0; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #666; }
.footer-contact p a { border: 0; }
.footer-contact p a:hover, .footer-contact p a:focus { border: 0; }

.footer-links a { color: #aaa; border: 0; }
.footer-links a:hover, .footer-links a:focus { color: #fff; }

.footer-bottom { padding: 15px 0 17px 0; background: #444; text-align: left; color: #aaa; }

.footer-social { padding-top: 3px; text-align: right; }
.footer-social a { margin-left: 20px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #79a05f; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-copyright { padding-top: 5px; }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }

.text-block {
  position: absolute;
  background-color: rgba(69, 82, 58, 0.8);
  color: rgb(138, 138, 138);
  z-index: 2;
}
.background-image{
  background-color: rgba(204, 204, 204, 0.534);
}

#amythystImg{
  max-width: 50%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-top: -20px;
  position: relative;
  z-index: 1;
}
/*
#lapisImg{
  width: auto;
  width: 600px;
  margin-left: 600px;
  margin-top: -120px;
  position: relative;
  z-index: 1;
}*/
#lapisImg{
  max-width: 50%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  width: 600px;
  margin-top: -180px;
  position: relative;
  z-index: 1;
}
/*
#labrodoriteImg{
  width: auto;
  width: 700px;
  margin-left: 550px;
  margin-top: -20px;
  position: relative;
  z-index: 1;
}*/
#labrodoriteImg{
  max-width: 70%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  width: 800px;
  margin-top: -120px;
  position: relative;
  z-index: 1;
}
#malachiteImg{
  max-width: 70%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  width: 800px;
  margin-top: -220px;
  position: relative;
  z-index: 1;
}
/*
#malachiteImg{
  width: auto;
  width: 800px;
  margin-left: 500px;
  margin-top: -200px;
  position: relative;
  z-index: 1;
}*/
#appetiteImg{
  max-width: 70%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  width: 550px;
  margin-top: -120px;
  position: relative;
  z-index: 1;
}
/*
#appetiteImg{
  width: auto;
  width: 550px;
  margin-left: 650px;
  margin-top: -20px;
  position: relative;
  z-index: 1;
}*/
#citrineImg{
  max-width: 70%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  width: 1000px;
  margin-top: -20px;
  position: relative;
  z-index: 1;
}/*
#citrineImg{
  width: auto;
  width: 950px;
  margin-left: 450px;
  margin-top: -100px;
  position: relative;
  z-index: 1;
}*/
#redjasperImg{
  max-width: 70%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  width: 800px;
  margin-top: -120px;
  position: relative;
  z-index: 1;
}/*
#redjasperImg{
  width: auto;
  width: 950px;
  margin-left: 450px;
  margin-top: -100px;
  position: relative;
  z-index: 1;
}*/
.chakra-crystals{
  margin-top: -3840px;
}
.blue-column {
  background-color: blue;
  height: 100px;
 
}

.green-column {
  background-color: green;
  height: 100px;

}
.yellow-column {
  background-color: yellow;
  height: 100px;
 
}
.wheat-column {
  background-color: wheat;
  height: 100px;

}
.white-column {
  background-color: white;
  height: 100px;
 
}
.pink-column {
  background-color: palevioletred;
  height: 100px;
 
}
.orange-column {
  background-color: orange;
  height: 100px;

}
.orange-red-column {
  background-color: orangered;
  height: 100px;
 
}

.red-column {
  background-color: red;
  height: 100px;

}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px; 
}
.row-block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 200px;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 20px;
  
}
.row-2-container{
  margin-top: 0px;
}
.row-3-container{
  margin-top: 0px;
}
.row-4-container{
  margin-top: 0px;
}
.col-md-6{
  width:auto;
  width: 500px;
}
.col-md-12 text-block{
  height:auto;
  height: 800px;
  width:auto;
  width: 500px;
}
.col-md-12 .text-block{
  height:200px;
}
.Nordic-title{
  text-align: center;
  margin-right: 200px;
  font-size: 120px;
  color: #79a05f;
  text-shadow: 2px 2px #373a25;
}
.rune-bg{
  background-image: url("../images/hazelands.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
  z-index: auto; 
}
.icon-wrapper{
  display: flex;
  margin: 50px;
  scale: 300%;
}
.icon-wrapper > span{
  margin: 30px;
  padding: 20px;
  font-size: 30px;
  
}
.fa-solid fa-basket-shopping{
  color:rgba(123, 126, 172, 0.8);
}

.fa-basket-shopping:hover{
  color:rgba(81, 255, 0, 0.8);
}

.fa-solid fa-right-to-bracket{
  color:rgba(123, 126, 172, 0.8);
}
.fa-right-to-bracket:hover{
  color:rgba(81, 255, 0, 0.8);
}

.fa-solid fa-pen-field{
  color:rgba(123, 126, 172, 0.8);
}
.fa-pen-field:hover{
  color:rgba(81, 255, 0, 0.8);
}
@media only screen and (min-width: 600px) {
  html {
    zoom: 0.8;
  }
}

@media only screen and (min-width: 800px) {
  html {
    zoom: 0.8;        
  }
}

@media only screen and (min-width: 1000px) {
  html {
    zoom: 0.8;
  }
}